*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* home section*/
.row-home {
    height: 100vh;
    width: 100%;
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-position: center;
}
.row-home .logo{
    position: absolute;
    top: 31%;
    left: 48%;
}
.row-home p{
    font-size: 60px;
    font-family: "poppins", sans-serif;
    color: white;
    text-align: center;
    position: relative;
    top: 45%;
    padding-top: 32px;
}
.row-home .para {
    font-size: 19px;
}
.row-home .mouse{
    position: absolute;
    top: 93%;
    left: 50%;
}
/* About us */
#mymouse{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}
#aboutus p{
    text-align: center;
    font-size: 20px; 
}
/*SERVICES*/
.services {
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg);
    height: 300px;
    color: whitesmoke;
}
#service {
    position: relative;
    text-align: center;
    top: 48px;
    font-size: 20px;
}
/* what we do */
.icons h3 {
    text-align: center;
}
.icons div{
    display: inline-block;
    margin-left: 390px;
    /* conatct us */
}
.contacts{
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh;
}
.contacts  p{
    color: #fff;
    text-align: center;
    padding-top: 90px;
    font-weight: 20px;
    font-size: 28px;
    font-family: sans-serif;
} 
.contacts form{
    border: px solid white;
    padding-left: 15px;
    margin: 20px;
    position: relative;
    left: 20%;
    margin-top: 33px;
    }
.contacts form input::placeholder{
        color: black;
        font-family: sans-serif;
        font-size: 16px;
        
}
form input{
    width: 400px;
    height: 30px;
}
form textarea{
    background-color:rgba(200, 300, 59, 0.01);
    border: 1px solid white;
    margin-top: 23px;
    left: 1%;
    position: relative;
    height: 300px;
    width: 800px;
}
textarea::placeholder{
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    padding-top: 20px;
    padding-left: 10px;
}


/* portfolio */
h3{
    font-size: 30px;
    }
    /* .overlay {
        position: relative;
        top: 50%;
        left: 20%;
        border: 3px solid white;
        display: none;
        font-size: 20px;
        padding: 20px;
        font-weight: bold;
        color: weight;
    } */
    .lufluf {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .lufluf2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container-fluid h3{
        text-align: center;
        padding-top: 10px;
    }
    .myportfolio {
        position: relative;
        margin: 4px;
    }
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        background-color: rgba(0,0,0,0.8);
    }
    .text {
        color: #fff;
        font-size: 1.2em;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 1em; 
        width: 100%;
        border: 2px solid #fff;
        padding: 10px;
    }
    .myportfolio:hover .overlay{
        opacity: 2;
    }
    /*footer */
.footer{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5vh;
    font-family: Arial, Helvetica, sans-serif;
}








